<nav>
  <ul>
    <li><a href="/">Home</a></li>

    <% if (user) { %>
    <li><a href="/recipes">My Receipes</a></li>
    <li><a href="/ingredients">My Ingredients</a></li>
    <li><a href="/users"> Explore Our Community</a></li>
    <br />
    <li><a href="/auth/sign-out">Sign out</a></li>

    <% } else { %>

    <a href="/auth/sign-up">Sign up</a>
    or
    <a href="/auth/sign-in">Sign in</a
    >. <% } %>
  </ul>
</nav>
